
    <!-- footer section starts  -->
    
    <section class="footer">
    
        <div class="box-container">
    
            <div class="box" data-aos="fade-up" data-aos-delay="150">
                <p>{{quotes.footer}}</p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
    
            <div class="box" data-aos="fade-up" data-aos-delay="300">
                <h3>quick links</h3>
                <a href="/" class="links"> <i class="fas fa-arrow-right"></i> home </a>
                <a href="{% url 'Activities:activities' %}" class="links"> <i class="fas fa-arrow-right"></i> destination </a>
                <a href="{% url 'gallery' %}" class="links"> <i class="fas fa-arrow-right"></i> gallery </a>
                <a href="https://www.hashstrix.com/tag/traveloft/" class="links"> <i class="fas fa-arrow-right"></i> blogs </a>
                <a href="{% url 'privacyPolicy' %}" class="links"> <i class="fas fa-arrow-right"></i> Privacy Policy </a>
                <a href="{% url 'termsCondition' %}" class="links"> <i class="fas fa-arrow-right"></i> Terms & Condition </a>
            </div>
    
            <div class="box" data-aos="fade-up" data-aos-delay="450">
                <h3>contact info</h3>
                <p> <i class="fas fa-map"></i> {{contact.office_location}} </p>
                <p> <i class="fas fa-phone"></i> {{contact.office_phone}} </p>
                <p> <i class="fas fa-envelope"></i> {{contact.office_email}} </p>
                <p> <i class="fas fa-clock"></i> {{contact.office_timings}} </p>
            </div>
    
            <div class="box" data-aos="fade-up" data-aos-delay="600">
                <h3>newsletter</h3>
                <p>subscribe for latest offers, events and much more.</p>
                <form action="." method="POST">
                    {% csrf_token %}
                      <input type="email" name="email" placeholder="enter your email" class="email">
                      <button type="submit" class="btn">Subscribe</button>
                  </form>
            </div>
    
        </div>
    
    </section>
    
    <div class="credit">All Rights Reserved |<span> ©Manyu Dhyani</span> </div>
    
    <!-- footer section ends -->