<header class="header">
    
    <div id="menu-btn" class="fas fa-bars"></div>

    <a data-aos="zoom-in-left" data-aos-delay="150" href="/" class="logo"> <i class="fas fa-paper-plane"></i>Traveloft India</a>

    <nav class="navbar">
        <a data-aos="zoom-in-left" data-aos-delay="300" href="/">home</a>
        <a data-aos="zoom-in-left" data-aos-delay="450" href="{% url 'aboutus' %}">about</a>
        <a data-aos="zoom-in-left" data-aos-delay="600" href="{% url 'Activities:activities' %}">destination</a>
        <a data-aos="zoom-in-left" data-aos-delay="750" href="{% url 'CRM:Landing-Lead-Page' %}">events</a>
        <a data-aos="zoom-in-left" data-aos-delay="900" href="{% url 'gallery' %}">gallery</a>
        <a data-aos="zoom-in-left" data-aos-delay="1150" href="https://www.hashstrix.com/tag/traveloft/">blogs</a>
    </nav>

    <a data-aos="zoom-in-left" data-aos-delay="1300" href="#book-form" class="btn">book now</a>

</header>