<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
    <title>Success</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h1 class="text-4xl m-6">Thank You!</h1>
        <p class="lead"><strong>Your response has been recorded.</strong> <br />Our team will contact you within 24 hours.</p>
        <hr>
        <!-- <p>
          Having trouble? <a href="">Contact us</a>
        </p> -->
        <p class="Button m-4">
            <button onclick="location.href='http://127.0.0.1:8000/booking/book-your-spot/'"
            type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Continue to homepage
            </button>
        </p>
      </div>
</body>
</html>

